/* FONTS */
@import "./interface/fonts/Poppins/font.css";

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: Poppins;
}

body {
  background-color: var(--core-content-background-200);
  overflow: hidden;
  margin: 0;
}

button {
  font-family: Poppins;
}
